body {
    font-family: "Contrail One", sans-serif;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    font-family: "Contrail One", sans-serif;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#submit-butn {
    background-color: green;
    color: white;
    font-family: "Contrail One", sans-serif;
}

#cancel-butn {
    background-color: red;
    color: white;
    font-family: "Contrail One", sans-serif;
}

#result {
    font-size: 18px;
    color: #333;
}
