html {
    font-family: "contrail-one" sans-serif;
    text-align: center;
    background-color: #066997;
}

nav {
    background-color: #a6a6a6;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

.head {
    background-color: #808080;
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(track.jpg);
}

footer {
    background-color: #a6a6a6;
}

footer a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

p {
    color: #fff;
    font-size: 1.5rem;
}
